<div class="container">
  <div class="full_background menu_background"></div>
  <div class="title_container">
    <div class="menu_title">Things To Do</div>
    <div class="push_13"></div>
    <%= link_to "#", class: "link_to" do %>
      <div class="button menu_button">Add A Trip</div>
    <% end %>
    <div class="push_10"></div>
    <%= link_to "#", class: "link_to" do %>
      <div class="button menu_button">Add Friends To A Trip</div>
    <% end %>
    <div class="push_10"></div>
    <%= link_to "#", class: "link_to" do %>
      <div class="button menu_button">View Past Trips</div>
    <% end %>
  </div>
</div>
