<% cache @posts do %>
    <div class="post">
      
      <%= render partial: "hideposts/instagram", collection: @posts, as: :post %>

      <%= render partial: "hideposts/twitter", collection: @posts, as: :post %>

    </div>
<% end %>
