<div class="container">
  <div class="full_background root_media"></div>
  <div class="title_container">
    <div class="title_text">Footprints</div>
    <div class="tagline_text">All your adventures in one place.</div>
  </div>
  <div class="push_60"></div>
  <%= link_to '/auth/instagram', class: "link_to" do %>
    <div class="button sign_in_button">Sign In With Instagram</div>
  <% end %>
  <div class="push_13"></div>
  <div class="solid_background">
    <div class="push_7"></div>
    <div class="description_title">Travel Together</div>
    <div class="description_content">
      Church-key Tumblr Neutra mustache, Banksy flexitarian Thundercats iPhone
      keffiyeh art party meggings brunch blog cred. Flexitarian wayfarers keffiyeh
      Neutra, tousled kitsch organic Pinterest lo-fi. Raw denim Bushwick gastropub
      vinyl. Thundercats PBR kogi, wolf direct trade disrupt chia polaroid photo
      booth narwhal tattooed chillwave.
    </div>
    <div class="wide_image desc_one_image"></div>
    <div class="description_title">Travel Together</div>
    <div class="description_content">
      Church-key Tumblr Neutra mustache, Banksy flexitarian Thundercats iPhone
      keffiyeh art party meggings brunch blog cred. Flexitarian wayfarers keffiyeh
      Neutra, tousled kitsch organic Pinterest lo-fi. Raw denim Bushwick gastropub
      vinyl. Thundercats PBR kogi, wolf direct trade disrupt chia polaroid photo
      booth narwhal tattooed chillwave.
    </div>
    <div class="wide_image desc_two_image"></div>
  </div>
  <div class="push_13 solid_background"></div>
</div>
