/*
 *= require_tree .
 *= require selectize
 *= require selectize.default
 *= require_self
 */
@import "variables";
@import "background";
@import "home";
@import "menu";
@import "feed";
@import "bootstrap";
@import "bootstrap-sprockets";

body {
  padding: 0;
  margin: 0;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 2rem;
}
.container {
  width: 100%;
}
.left {
  float:left;
}
.link_to {
  text-decoration: none;
}
.push_60 {
  width:100%;
  height:60rem;
}
.push_13 {
  width: 100%;
  height: 13rem;
}
.push_7 {
  width: 100%;
  height: .8rem;
}
.push_5 {
  width: 100%;
  height: 5rem;
}
.wide_image {
  width: 100%;
  height: 35rem;
  background-size: cover;
  background-position: center;
}
.navigation {
  background: $light_gray;
  font-size: 3rem;
  position: fixed;
  width: 100%;
  padding: 1rem 0;
  border-bottom: solid;
  border-color: silver;
  color: $function_color;
}
.navigation .link_to {
  color: $function_color;
}
.navigation .options_link {
  margin-left: 5%;
}
.floater_4 {
  height: 120px;
}
.text_divider {
  padding: 0 2rem;
}
.full_width {
  width: 90%;
  height: 180px;
}
.input_form {
  font-size: 10rem;
  margin-bottom: 6rem;
}
.label_form {
  font-size: 5rem;
  color: white;
}
.cancel_btn {
  font-size: 4rem;
  line-height:8rem;
  color: orange;
}
