.new_trip_form {
  text-align: center;
}
.trip_title {
  font-size: 5rem;
  font-weight: 600;
  width: 100%;
  height: 7rem;
  background: gray;
  text-align: center;
  position:fixed;
  margin-top: -6rem;
  color: white;
}
.touch_box {
  width: 150%;
  white-space: nowrap;
  overflow-y: hidden; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}
.trip_row {
  border-bottom: solid;
  border-color: gray;
}
.new_trip_button {
  font-size: 8rem;
  font-weight: 600;
  color: rgb(48,48,48);
  margin-left: 5%;
  padding-top: 5%;
  height: 22rem;
}
.new_trip_background {
  background: rgb(184,184,184);
}
.index_trip_title {
  font-size: 8rem;
  font-weight: 600;
  color: gray;
  margin-left: 5%;
}
.index_trip_date {
  font-size: 4rem;
  color:gray;
  margin-left: 5%;
  margin-top: -2rem;
  margin-bottom: 2rem;
}
.new_trip_btn {
  font-size: 8rem;
  color: white;
  background: orange;
  border-radius: 50%;
  border-width: 20px;
  border-color: white;
  width: 600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 360px;
}
.new_trip_btn .title {
  text-align: center;
  max-width: 500px;
  margin-left:auto;
  margin-right: auto;
  padding-top: 180px;
}
.add_trip_btn {
  font-size: 5rem;
  color: white;
  background: orange;
  border-radius: 5%;
  border-width: 2px;
  border-color: white;
  width: 600px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
.friends_input {
  width: 80%;
  height: 12rem;
  float:left;
  color:orange;
}
.friends_input_cleaner {
  height: 12rem;
  width: 100%;
}
.edit_btn {
  font-size: 5rem;
  margin-left: 5%;
}
